<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="austin samsel">
    <meta name="description" content="This is the High Tops blog. Design, Programming, and Business.">
    <%= partial "partials/favicon" %>

    <title>High Tops Blog<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "all" %>
    <style>
      <%= Rouge::Themes::Github.render(:scope => '.highlight') %>
    </style>
    <link href='//fonts.googleapis.com/css?family=Archivo+Narrow:400,700,400italic|Enriqueta:400,700|Inconsolata:400|Archivo+Black' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div id="main" role="main">
      <%= partial "partials/nav" %>
      <%= yield %>
      <%= partial "partials/footer" %>
    </div>
  </body>
</html>
